html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*以上是css reset*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

.header {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #F1F1F1;
    padding: 32px 0px;
}

.toplist {
    display: flex;
    gap: 40px;
}

.toplist li {
    padding: 4px 8px;
    position: relative;
}

.toplist a {
    color: black;
    text-decoration: none;

}
.toplist a:hover::before {
    font-weight: bold;
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #000000d3;
    mask: conic-gradient(at 8px 8px, rgba(0, 0, 0, 0) 75%, #919191 0) 0 0 / calc(100% - 8px) calc(100% - 8px), linear-gradient(#919191 0 0) content-box;
}

.menu:checked~.toplist li a {
    display: block;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 300px;
    background-color: black;
    padding: 50px;
    line-height: 25px;
}/*這邊點menu打不開*/

@media (max-width: 768px) {
    .header {
        max-width: 100%;
        padding: 5px 6px;
    }

    .toplist {
        display: none;
    }

    .menu {
        width: 40px;
        height: 40px;
        display: block;
    }
}
/*以上header*/


.imgs::after{
    content: "";
    width: 72px;
    height: 72px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true);
    position: absolute;
    top: 0;
    left: 0;
}
.imgs::before{
    content: "";
    width: 72px;
    height: 72px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true);
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner{
    background-color: #FAFAFA;
    padding: 80px 0px;
}
.content{
    display: flex;
    flex-direction: column;
    max-width: 670px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    padding: 59px 0px;
    row-gap: 16px;
    margin-bottom: 24px;
    
    
}
.content h2{
    font-size: 24px;
    line-height: 1.2;
    color: #1E1E1E;
}
.textline{
    position: relative;
}
.textline img{
    position: absolute;
    right:-15px;
    bottom:0px;
    
}



.text{
    max-width: 636px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.text2{
    max-width: 298px;
}
.textbar{
    margin-bottom: 8px;
    color: #5b5b5b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbar::after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 2px solid #c1c1c1;
}
.text2 p{
    text-align: center;
    color: #3B3B3B;
}

@media (max-width: 992px) {
    .content{
        width: 300px;
        margin-bottom: 40px;
        margin-bottom: 8px;
    }
    .content h2{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .texth2{
        width: 260px;
    }
    .textline img{
        width: 108px;
    }
    .imgs::after{
        width: 64px;
        height: 64px;
        top: 0;
        left: 38%;
        
    }
    .imgs::before{
        display: none;
    }
    .text2{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*以上是banner*/
.container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 120px 0px;
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
    margin-bottom: 72px;
}
.item2{
    width: 49%;
    display: flex;
    flex-direction: column;
}
.item2 img{
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    display: block;
    margin-bottom: 16px;
}
.item3{
    padding-left: 16px;
    margin-bottom: 24px;
}
.item3 h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #3B3B3B;
    margin-bottom: 8px;
}
.item3 p{
    color: #919191;
}
.tag{
    display: flex;
    gap: 16px;
    padding-left: 16px;
}
.tag a{
    text-decoration: none;
    color: black;
}
.tag a:hover{
   font-weight: bolder;
}
.tag li{
    background-color: #F1F1F1;
    padding: 4px 12px 4px 12px;
    border-radius: 16px;
}
.page{
    max-width: 152px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
}
.pages{
    display: block;
    background-color: #ffffff;
    color: #3B3B3B;
    font-size: 24px;
    text-decoration: none;
    padding: 2px 13px 2px 13px;
}
.pages:hover {
    color: #ffffff;
    background-color: #1E1E1E;
}

@media (max-width: 992px) {
    .container{
        padding: 80px 12px;
    }
    .item{
        row-gap: 48px;
        margin-bottom: 48px;
    }
    .item2{
        width: 100%;
    }
}
/*以上是主頁內容*/

.footer{
    border-top: 1px solid #f1f1f1;
    padding: 80px 0px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-all{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-logo img{
    width: 120px;
    height: 54px;
}
.footer-logo h2{
    color: #3b3b3b;
    font-size: 20px;
}
.footer-logo a{
    display: block;
    color: #919191;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
}
.footer-logo a:hover{
    color: #1b1b1b;
}
.link{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-list img{
    margin: 12px;
}

.footer-list a{
    display: flex;
    align-items: center;
    width: 306px;
    text-decoration: none;
    color: #3b3b3b;
    outline: 1px solid #c1c1c1;
    background-color: white;
    font-size: 20px;
    line-height: 1.2;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 8px;
}

.footer-list a:hover{
    font-weight: 700;
    background: #000;
    color: #fff;
}

@media (max-width: 992px){
    .footer{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    .footer-list a{
        padding: 4px 24px;
    }
}
@media (max-width: 768px){
.footer-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}}